<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <typeHandlers>
        <typeHandler handler="com.coinhitchhiker.vbtrader.simulator.db.DateTimeTypeHandler"/>
    </typeHandlers>
    <mappers>
        <mapper resource="com/coinhitchhiker/vbtrader/simulator/db/simulatorDAOMapper.xml"/>
    </mappers>

</configuration>