<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.coinhitchhiker.vbtrader.simulator.db.SimulatorDAO">

    <resultMap id="topSimulResults" type="com.coinhitchhiker.vbtrader.simulator.TopSimulResult">
        <id column="simulResultId" property="simulResultId" javaType="java.lang.Integer"/>
        <result column="periodId" property="periodId" javaType="java.lang.Integer"/>
        <result column="simulResult" property="simulResult" javaType="java.lang.String"/>
    </resultMap>

    <resultMap id="candleMap" type="com.coinhitchhiker.vbtrader.common.model.Candle">
        <result column="symbol" property="symbol"/>
        <result column="interval" property="interval"/>
        <result column="openTime" property="openTime"/>
        <result column="closeTime" property="closeTime"/>
        <result column="openPrice" property="openPrice"/>
        <result column="highPrice" property="highPrice"/>
        <result column="lowPrice" property="lowPrice"/>
        <result column="closePrice" property="closePrice"/>
        <result column="volume" property="volume"/>
        <result column="PVT" property="pvt"/>
        <result column="OBV" property="obv"/>
    </resultMap>

    <select id="validateConnection" resultType="_int">
        select 1 from dual
    </select>

    <select id="getPeriodId" resultType="java.lang.Integer">
        select periodId
        from VB.SIMUL_PERIOD
        where exchange = #{exchange}
        and symbol = #{symbol}
        and startDate = #{startDate}
        and endDate = #{endDate}
    </select>

    <select id="getBestResult" resultType="java.lang.Double">
        select simulResult->'$.END_USD_BALANCE' as balance
        from VB.SIMUL_RESULT
        where periodId = #{periodId}
        order by simulResult->'$.END_USD_BALANCE' desc
        limit 0,1
    </select>

    <insert id="insertSimulResult">
        insert into VB.SIMUL_RESULT (periodId, simulResult) values (#{periodId}, #{simulResult})
    </insert>

    <select id="getTopSimulResults" resultMap="topSimulResults">
        with a as (
        select *,  row_number() over (partition by periodId order by simulResultId desc) as rn
        from VB.SIMUL_RESULT
        )
        select simulResultId, periodId, simulResult
        from a
        where rn &lt;= 10
    </select>

    <insert id="insertValidationResult">
        insert into VB.TOP_RESULT_VALIDATION
            (periodId, simulResultId, validationResult)
        values
            (#{periodId}, #{simulResultId}, #{validationResult})
    </insert>

    <select id="getBinanceCandles" resultMap="candleMap">
        select *
        from CT.BINANCE_CANDLE
        where symbol = #{symbol}
        and `interval` = #{interval}
        and openTime >= #{simulStart}
        and openTime &lt; #{simulEnd}
    </select>

</mapper>